body{
    margin:0;
    background:#111;
    color:white;
    font-family:Arial,Helvetica,sans-serif;
}

.header{
    text-align:center;
    padding:40px;
    background:#d10000;
}

.logo{
    width:260px;
    max-width:90%;
    margin-bottom:20px;
}

.callButton{
    background:#18c218;
    color:white;
    border:none;
    padding:15px 35px;
    font-size:20px;
    border-radius:10px;
    cursor:pointer;
}

.hero{
    text-align:center;
    padding:60px 20px;
}

.hero button{
    background:red;
    color:white;
    border:none;
    padding:18px 40px;
    font-size:22px;
    border-radius:10px;
    cursor:pointer;
}